/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #ffe1a8;
  }

  #content {
    padding: 10px;
    border: solid 1px #472d30;
    background-color: #472d30;
  }
  
  body {
    font-family: montserrat;
    margin: 0;
    color: #e26d5c;
    background-color: #c9cba3;
}
#links {
a:link {
  color: #e26d5c;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #e26d5c;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #efa99e;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #e26d5c;
  background-color: transparent;
  text-decoration: underline;
}
}