/* this css file will only style the homepage of our site */

.cat-photo {
  margin: 10px;
  max-width: 500px;
}
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #DDD8C4;
}
h1 {
  color: #ff6b35;
  font-size: 50px;
}
h2{
color:#ff6b35;
font-size: 35px;

}
p{
  color: #004e89;
  font-size: 25px;
  font-family: "times new roman";
  text-indent: 15px;
  }
  #content {
    background-color: #efefd0;
    border: dashed 2px #1a659e;
  }